/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args            = Additional arguments appended to command in module.
 *       args2           = Second set of arguments appended to command in module (multi-tool modules).
 *       args3           = Third set of arguments appended to command in module (multi-tool modules).
 *       publish_dir     = Directory to publish results.
 *       publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
 *                         If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
 *                         If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
 *                                                                     is appended as a directory to "publish_dir" path 
 *                         If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
 *       publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                         The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                         If publish_files = null (unspecified)     - All files are published.
 *                         If publish_files = false                  - No files are published.
 *       suffix          = File name suffix for output files.
 *
 */

params {
  modules {
    'align2alleles' {
      publish_dir = 'plots/data'
    }
    'mafft' {
      args        = '--6merpair --keeplength'
      publish_dir = 'msa/mafft'
    }
    'nextalign' {
      publish_dir = 'msa/nextalign'
    }
    'concat_fastas' {
      publish_dir = 'sequences'
    }
    'prepare_input_sequences' {
      publish_dir = 'input_sequences'
    }
    'iqtree' {
      args        = '-ninit 2 -n 5 -me 1.0 -experimental --no-opt-gamma-inv'
      publish_dir = 'iqtree'
    }
    'aa_mutation_matrix' {
      publish_dir = 'nextclade'
    }
    'filter_msa' {
      publish_dir = 'msa'
    }
    'filter_gisaid' {
      publish_dir = 'gisaid'
    }
    'sequences_nextclade' {
      publish_dir = 'nextclade'
    }
    'merge_metadata' {
      publish_dir = 'shiptv'
    }
    'shiptv_metadata' {
      publish_dir = 'shiptv'
    }
    'prune_tree' {
      publish_dir = 'shiptv'
    }
    'phylogenetictree_snps' {
      publish_dir = 'plots'
    }
  }
}
