/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/scovtree -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus             = 16
  max_memory           = 32.GB
  max_time             = 48.h

  // Input data
  input                = '/home/hnguyen/Documents/LabData/GISIAD/May16/seqs/*.fasta'
  reference_name       = 'MN908947.3'
  reference_fasta      = '/home/hnguyen/Documents/RunNextflow/Nanopore_Primer_Schemes/primer-schemes/nCoV-2019/V1200/nCoV-2019.reference.fasta'
  substitution_model   = 'GTR'

  //Input options for filtering sequence against GISIAD Database
  filter_gisaid        = true
  max_taxa             = 100
  gisiad_sequences     = '/home/hnguyen/Documents/LabData/GISIAD/May16/gisiad/sequences.fasta'
  gisiad_metadata      = '/home/hnguyen/Documents/LabData/GISIAD/May16/gisiad/metadata.tsv'
  country              = ''
  region               = ''
  sample_lineage       = ''
  lmin                 = 27000
  lmax                 = 32000
  xambig               = 200

  //Multiple Sequence Alignment
  //nextalign                         = false

}
