/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/scovtree -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input = '/home/hnguyen/Documents/RunNextflow/consensus/*.fasta'
  reference_name ='MN908947.3'
  reference_fasta = '/home/hnguyen/Documents/RunNextflow/Nanopore_Primer_Schemes/primer-schemes/nCoV-2019/V1200/nCoV-2019.reference.fasta'
  substitution_model = 'GTR'

  //Input options for filtering sequence against GISIAD Database
  filter_gisaid = false
  gisiad_sequences ='/home/hnguyen/Documents/LabData/GISIAD/GISAID-SARS-CoV-2/sequences.fasta'
  gisiad_metadata  ='/home/hnguyen/Documents/LabData/GISIAD/GISAID-SARS-CoV-2/metadata.tsv'
  country = null
  region  = null
  sample_lineage = null
  lmin = 20000
  lmax = 32000
  xambig = 200

}
